<div id="experience-container" class="hide">
  <% @experience.each do |experience| %>
    <div class='experience-item'>
      <div class='experience-title'>
        <%= experience.position %> @ <%= experience.title %>
      </div>
      <div class='experience-sidetitle'>
        <%= display_experience_sidetitle(experience) %>
      </div>
      <div class='clear'></div>
      <hr>
      <div class='experience-content'>
        <p>
          <%= experience.description %>
        </p>
        <%= display_experience_content(experience) %>
      </div>
    </div>
  <% end %>
</div>
