<h1 id="main-header">
  ms
</h1>

<%= render partial: 'shared/nav' %>

<div id="main-content">
  <%= render partial: 'shared/about' %>
  <%= render partial: 'shared/experience' %>
  <%= render partial: 'shared/projects' %>
</div>

<%= render partial: 'shared/footer' %>
